html {
  width:100%;
}



.btn.btn {
  border-radius:0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border:0;  
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.btn.btn:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

div.btn-group {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

div.btn-group .btn.btn {
  box-shadow:none;
}

div.list-group {
  border-radius:0;
  border:0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);  
}

div.list-group .list-group-item {
  border-radius:0;
  border:0;
}


.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.form-inline {
  margin-bottom:5px;
}

.form-inline .form-control {
  border-radius:0;
  border-color:white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);   
}

.form-inline:last-child {
  margin-bottom:0;
}

.form-inline .form-control:focus {
  box-shadow:none;
  border-color:white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#main {
  padding: 0 50px;
  max-width:1440px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

.print-only {
  display:none;
}

#map {
  position:relative;
  margin-left:auto;
  margin-right:auto;
  width:100% !important;
  height:500px !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 
}



.well.card-1 {
  border-radius:0;
  border:0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.well.card-2 {
  border-radius:0;
  border:0; 
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.well.card-3 {
  border-radius:0;
  border:0; 
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.well.card-4 {
  border-radius:0;
  border:0; 
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.well.card-5 {
  border-radius:0;
  border:0; 
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.navbar.navbar-default {
  border-radius:0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border:0;  
  background-color:#5cb85c;
}

a.navbar-brand {
  color:white !important;
}

@media only screen and (max-width: 720px) {
    #main {
        padding:10px;
    }


    form.form-inline select,form.form-inline input {
        margin-bottom:5px;
    }
}

@media only print {
  .noprint {
    display: none;
  }


  .print-only {
    display: block;
  }
  
  img {
      page-break-before:always !important;
  }
  
  div.well {
      margin-bottom: 0px;
    border:none;
  }
}

